<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SarghodhaPC"
        tools:targetApi="31">
        <activity
            android:name=".UI.Activities.TareData_Weightment_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Search_weightment_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Search_Unloading_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Add_Unloading_Form"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Add_Assumption_HoldActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Search_Quailty_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Add_Weighment_Form"
            android:exported="false" />
        <activity
            android:name=".Add_AdminData_form_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.Add_Quality_form"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.SelectMaterial"
            android:exported="false" />
        <activity
            android:name=".UI.Fragments.FragmentWeightmentAssistant"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>